.navbar {
  background-color: #ce94d9;
  padding: 20px 0 10px;
}

.navbar .navbar-toggle {
  color: #121212;
}

.navbar .navbar-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 300px;
  margin: 0;
  padding: 0;
  z-index: 9998;

  background-color: #121212;

  list-style: none;
}

.navbar .navbar-menu .navbar-usuario {
  padding: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #525151;

  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.navbar .navbar-menu .navbar-menuItem {
  padding: 15px
}

.navbar-menuItem a {
  color: #cdcbc8;
  text-decoration: none;
}

.navbar-menuItem a:hover {
  color: #ce94d9;
}

.navbar-menuItem.ativo {
  background-color: #191919;
}