<main>
  <form #lancamentoForm="ngForm" autocomplete="off">
    <section>
      <header class="col-12">
        <h1>Novo Lançamento</h1>
      </header>

      <div class="grid">
        <div class="p-fluid col-12 md:col-6">
          <p-selectButton [options]="tipos" #tipo></p-selectButton>
        </div>
      </div>

      <div class="grid">
        <div class="p-fluid col-6">
          <h4 for="vencimento">Vencimento</h4>
          <p-calendar id="vencimento" name="vencimento" class="w-full" dateFormat="dd/mm/yy"
                      [showIcon]="true" [readonlyInput]="true" [required]="true" ngModel #vencimento="ngModel">
          </p-calendar>
          <app-message [control]="vencimento" error="required" text="Informe uma data de vencimento"></app-message>
        </div>

        <div class="p-fluid col-6">
          <h4 for="recebimento">{{ tipo.value === 'TP1' ? 'Recebimento' : 'Pagamento' }}</h4>
          <p-calendar id="recebimento" class="w-full" dateFormat="dd/mm/yy" [showIcon]="true" [readonlyInput]="true">
          </p-calendar>
        </div>

        <div class="col-12 md:col-9">
          <h4 for="descricao">Descrição</h4>
          <input id="descricao" name="descricao" type="text" class="w-full" pInputText
                 ngModel #descricao="ngModel" [required]="true" minlength="5">
          <app-message [control]="descricao" error="required"
                       text="Informe uma descrição"></app-message>
          <app-message [control]="descricao" error="minlength"
                       text="Mínimo de {{ descricao.errors?.['minlength']?.requiredLength }} caracteres. Você digitou apenas {{ descricao.errors?.['minlength']?.actualLength }}"></app-message>
        </div>

        <div class="p-fluid col-12 md:col-3">
          <h4 for="valor">Valor</h4>
          <p-inputNumber id="valor" name="valor" placeholder="0,00" mode="currency" currency="BRL" locale="pt-BR"
                         styleClass="w-full" ngModel [required]="true" #valor="ngModel">
          </p-inputNumber>
          <app-message [control]="valor.control" error="required" text="Informe um valor"></app-message>
        </div>

        <div class="col-12 md:col-6">
          <h4 for="categoria">Categoria</h4>
          <p-dropdown id="categoria" name="categoria" [options]="categorias" placeholder="Selecione uma Categoria" styleClass="w-full"
                      [showClear]="true" [filter]="true" [required]="true" #categoria></p-dropdown>
        </div>

        <div class="col-12 md:col-6">
          <h4 for="pessoa">Pessoa</h4>
          <p-dropdown id="pessoa" name="pessoa" [options]="pessoas" placeholder="Selecione uma Pessoa" styleClass="w-full"
                      [showClear]="true" [filter]="true" ngModel [required]="true" #pessoa></p-dropdown>
        </div>

        <div class="col-12">
          <h4 for="observacao">Observação</h4>
          <textarea [rows]="5" [cols]="30" id="observacao" class="w-full" pInputTextarea></textarea>
        </div>

        <div class="col-4 md:col-2">
          <button pButton pRipple type="submit" label="Salvar" class="w-full mr-2 mb-2" [disabled]="lancamentoForm.invalid"></button>
        </div>
        <div class="col-4 md:col-2">
          <button pButton pRipple type="button" label="Novo" class="p-button-info w-full mr-2 mb-2"></button>
        </div>
        <div class="col-4 md:col-2">
          <a pButton pRipple type="button" label="Voltar" class="w-full mr-2 mb-2"></a>
        </div>
      </div>
    </section>
  </form>
</main>