<main>
  <p-card styleClass="card">
    <form autocomplete="off" (ngSubmit)="pesquisar()">
      <section class="grid">
        <header class="col-12">
          <h1>Pessoas</h1>
        </header>

        <div class="col-12">
          <h4 for="nome">Nome</h4>
          <input id="nome" name="nome" type="text" class="w-full" pInputText [(ngModel)]="pessoasFilter.nome">
        </div>

        <div class="field col-12">
          <p-button icon="pi pi-search" type="submit" label="Pesquisar"></p-button>
        </div>
      </section>

      <section class="grid">
        <div class="col-12">
          <app-pessoas-tabela #tabela (onLazyLoad)="aoMudarPagina($event)" [pessoas]="pessoas" [pessoasFilter]="pessoasFilter"
                              [totalRegistros]="totalRegistros" (deletar)="confirmarExclusao($event)" (status)="alterarStatus($event)"></app-pessoas-tabela>
        </div>

        <div class="field col-12">
          <p-button icon="pi pi-plus" label="Novo Pessoa" routerLink="/pessoas/nova"></p-button>
        </div>
      </section>
    </form>
  </p-card>
</main>