<main>
  <form>
    <section>
      <header class="col-12">
        <h1>Nova Pessoa</h1>
      </header>

      <div class="grid">
        <div class="col-12">
          <h4 for="nome">Nome</h4>
          <input id="nome" type="text" class="w-full" pInputText>
        </div>

        <div class="col-12 md:col-9">
          <h4 for="logradouro">Logradouro</h4>
          <input id="logradouro" type="text" class="w-full" pInputText>
        </div>

        <div class="col-12 md:col-3">
          <h4 for="numero">Número</h4>
          <input id="numero" type="text" class="w-full" pInputText>
        </div>

        <div class="col-12 md:col-4">
          <h4 for="complemento">Complemento</h4>
          <input id="complemento" type="text" class="w-full" pInputText>
        </div>

        <div class="col-12 md:col-4">
          <h4 for="bairro">Bairro</h4>
          <input id="bairro" type="text" class="w-full" pInputText>
        </div>

        <div class="col-12 md:col-4">
          <h4 for="CEP">CEP</h4>
          <p-inputMask id="CEP" type="text" styleClass="w-full" mask="99.999-999"></p-inputMask>
        </div>

        <div class="col-12 md:col-6">
          <h4 for="cidade">Cidade</h4>
          <input id="cidade" type="text" class="w-full" pInputText>
        </div>

        <div class="col-12 md:col-6">
          <h4 for="estado">Estado</h4>
          <input id="estado" type="text" class="w-full" pInputText>
        </div>

        <div class="col-4 md:col-2">
          <button pButton pRipple type="submit" label="Salvar" class="w-full mr-2 mb-2" disabled></button>
        </div>
        <div class="col-4 md:col-2">
          <button pButton pRipple type="button" label="Novo" class="p-button-info w-full mr-2 mb-2"></button>
        </div>
        <div class="col-4 md:col-2">
          <a pButton pRipple type="button" label="Voltar" class="w-full mr-2 mb-2"></a>
        </div>
      </div>
    </section>
  </form>
</main>