<main>
  <section class="grid">
    <header class="col-12">
      <h1>Pessoas</h1>
    </header>

    <div class="col-12">
      <h4 for="descricao">Nome</h4>
      <input id="descricao" type="text" class="w-full" pInputText>
    </div>

    <div class="field col-12">
      <button pButton type="submit" label="Pesquisar"></button>
    </div>
  </section>

  <section class="grid">
    <app-pessoas-tabela class="col-12" [pessoas]="pessoas"></app-pessoas-tabela>

    <div class="field col-12">
      <a pButton type="submit" label="Novo Pessoa"></a>
    </div>
  </section>
</main>